.flexColunm {
  display: flex;
  flex-direction: column;
}

.flexRow{
  display: flex;
}

.contentCenter{
  justify-content: center;
}

.contentBetween{
  justify-content: space-between;
}

.itemsCenter{
  align-items: center;
}

.contentStart{
  justify-content: flex-start;
}

.contentEnd{
  justify-content: flex-end;
}

.selfStart{
  align-self: flex-start;
}

.selfEnd{
  align-self: flex-end;
}

.posAbsolut{
  position: absolute;
}

.posRelative{
  position: relative;
}