.bodyProdutosDialog{
width: 63rem;
height: 49.9125rem;
background: #FFFFFF;
box-shadow: 0px .25rem 1rem rgba(50, 50, 50, 0.4);
border-radius: 1rem;
box-sizing: border-box;
}

.fotoProdutosNovo{
  margin-top: 8.6rem;
  width: 24rem;
  height: 24rem;
}

.acoesProdutos{
  margin-right: 6.5rem;
  margin-top: 3.0625rem;
}

input#valor{
  width: 11rem;
}

.inputFile{
  position: absolute;
  bottom: -1.61rem;
  cursor: pointer;
}

input#file{
  all: unset;
  width: 5rem;
  cursor: pointer;
  height: 24rem;
  width: 24rem;
  border-radius: 16px;
}