.conteiner-form{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.formCadastro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius:  88px 88px 88px 0px;
  width: 847.58px;
  height: 1139.23px;
  border: red 2px solid;
}

h1{
  font-size: 48px;
  color: var(--laranjaEscuro);
}

input{
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: bold;
  color: var(--cinzaEscuro);
}

a{
  font-size: 14px;
  color: var(--azulEscuro);
}

button{
  font-size: 14px;
  color: var(--branco);
  background-color: var(--laranjaEscuro);
}

span{
  font-size: 12px;
  color: var(--cinza);
}