.telaRegistro {
  height: 100vh;
  background-image: url('../../assets/bg-cadastro.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.telaRegistro__formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  width: 40%;
  height: 100vh;
  border-radius: 0 0 88px 0;
  background-color: #fff;
}

.telaRegistro__formulario header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 25rem;
  margin-bottom: 2rem;
}

.formulario__stepper {
  display: flex;
  justify-content: center;
  margin-left: auto;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 700;
}

.formulario__stepper div {
  display: grid;
  place-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.stepper--atual {
  background-color: rgba(209, 50, 1, 0.45);
  color: #D13201;
}

.stepper--finalizado {
  background-color: rgba(13, 138, 79, 0.45);
  color: #0D8A4F;
}

.stepper--incompleto {
  background-color: rgba(128, 128, 128, 0.45);
}

.telaRegistro button {
  cursor: pointer;
  border: none;
}

.anterior-form {
  background-color: transparent;
  color: blue;
}

.anterior-form:hover {
  color: #D13201;
}

.proximo-form {
  margin-left: 1rem;
  padding: 0.7rem 2.5rem;
  background-color: #D13201;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;;
  color: #fff;
  font-weight: 600;
}

.proximo-form:hover {
  opacity: 0.8;
}

.telaRegistro main {
  color: var(--cinzaEscuro);
  font-weight: bold;
}

.telaRegistro main div{
  display: flex;
  justify-content: center;
}

.telaRegistro main div button {
  margin-left: auto;
  background-color: transparent;
  color: #D13201;
}

.erros {
  text-align: center;
  color: red;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
}