body{
  overflow: hidden;
}
.bodyCadastrar{
  background-color: black;
  background-image: url('../../assets/bg-cadastro.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.conteinerFormCadastro{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.formCadastro{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-right: 8rem;
  padding-left: 6rem;
  background-color: white;
  border-radius:  0 88px 88px 0px;
  height: 120%;
  left: 0px;
  top: -9.62rem;
  z-index: 2;
}

label {
  padding: 0;
  font-size: .875rem;
}

span{
  font-size: .75rem;
  color: var(--cinza);
}

.espacoTopo{
  height: 14.375rem;
}

.vetorCadastro{
  position: absolute;
  z-index: 1;
  width: 50.171875rem;
  height: 49.1875rem;
  left: 38rem;
  top: 20.125rem;
}